# Simple workflow for deploying static content to GitHub Pages
name: Deploy API to server
on:
  # Runs on pushes targeting the default branch
  push:
    branches: 
     - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref:  master
      - name: Replace Placeholders
        run: |
          SERVER_ID="${{ secrets.SERVER_ID }}"
          CHANNEL_ID="${{ secrets.CHANNEL_ID }}"
          sed -i "s/{{SERVER_ID}}/$SERVER_ID/g" v0/humans-txt/engine/index.php
          sed -i "s/{{CHANNEL_ID}}/$CHANNEL_ID/g" v0/humans-txt/engine/index.php
    
      - name: Fast FTP
        uses: anvil-solutions/Fast-FTP-Action@2.1.3
        with:
          server: ${{secrets.FTP_HOST}}
          username: ${{secrets.FTP_USER}}
          password: ${{secrets.FTP_PASSWD}}
          method: ftp
          local_dir: .
          remote_dir: /api.peviitor.ro/v0/humans-txt
